<% layout("layouts/boilerplate")  -%>

<div class="row mt-4">
    <div class="alert alert-danger cols-6 offet-3" role="alert">
        <strong>ERROR CAUGHT!</strong> <p> <%= message %> </p>
    </div>
</div>

