<% layout("layouts/boilerplate")  -%>
<div class="row mt-3">
    <div class="signup col-6 offset-3 container mx-auto w-90">
        <h1 class="signup-heading mt-4 mb-4 pb-4">Signup - <i class="fa-brands fa-airbnb"></i> <span><b>airbnb</b></span> </h1>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mt-4">
                <label for="username" class="form-label">Username</label>
                <input type ="text" name = "username" id="username" class="form-control" required>
                <div class="invalid-feedback">Please Enter Username</div>
                <div class="valid-feedback">Looks Good!</div>
            </div>

            <div class="mt-4">
                <label for="email" class="form-label">Email</label>
                <input type ="email" name = "email" id="email" class="form-control" required>
                <div class="invalid-feedback">Please Enter Email</div>
            </div>

            <div class="mt-4">
                <label for="password" class="form-label">Password</label>
                <input type ="password" name = "password" id="password" class="form-control" required>
                <div class="invalid-feedback">Please Enter Password</div>
            </div>
            <button class="btn btn-dark add-btn mt-4 px-4">
                Sign up
            </button>        
        </form>
    </div>
</div>